@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 83% 53%; /* #4AD9E8 */
    --foreground: 0 0% 100%; /* #FFFFFF */

    --card: 45 40% 85%; /* #E6E2D1 */
    --card-foreground: 0 0% 10%;

    --popover: 45 40% 85%;
    --popover-foreground: 0 0% 10%;

    --primary: 349 100% 65%; /* #FF4D6D */
    --primary-foreground: 0 0% 100%;

    --secondary: 45 40% 85%;
    --secondary-foreground: 0 0% 10%;

    --muted: 45 40% 85%;
    --muted-foreground: 45 10% 40%;

    --accent: 267 63% 49%; /* #7B2CBF */
    --accent-foreground: 0 0% 100%;

    --destructive: 349 80% 50%; /* #F03E5D */
    --destructive-foreground: 0 0% 100%;

    --border: 45 20% 70%;
    --input: 45 40% 90%;
    --ring: 349 100% 65%;

    --radius: 0.5rem;
  }
 
  .dark {
    --background: 200 83% 53%; /* #4AD9E8 */
    --foreground: 0 0% 100%; /* #FFFFFF */
    --card: 45 40% 85%; /* #E6E2D1 */
    --card-foreground: 0 0% 10%;
    --popover: 45 40% 85%;
    --popover-foreground: 0 0% 10%;
    --primary: 349 100% 65%; /* #FF4D6D */
    --primary-foreground: 0 0% 100%;
    --secondary: 45 40% 85%;
    --secondary-foreground: 0 0% 10%;
    --muted: 45 40% 85%;
    --muted-foreground: 45 10% 40%;
    --accent: 267 63% 49%; /* #7B2CBF */
    --accent-foreground: 0 0% 100%;
    --destructive: 349 80% 50%; /* #F03E5D */
    --destructive-foreground: 0 0% 100%;
    --border: 45 20% 70%;
    --input: 45 40% 90%;
    --ring: 349 100% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: hsl(var(--background));
    background-image:
      radial-gradient(circle at 1px 1px, hsl(var(--foreground)) 1px, transparent 0);
    background-size: 1rem 1rem;
    color: hsl(var(--foreground));
  }
}

@layer components {
  .btn-gradient {
    @apply relative inline-flex items-center justify-center p-4 overflow-hidden text-lg font-medium text-white rounded-lg bg-gradient-to-br from-primary to-accent hover:from-primary hover:to-accent hover:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800 transition-all ease-in duration-75;
  }
  .btn-gradient > span {
    @apply relative transition-all ease-in duration-75;
  }

  .tv-screen::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
}
